#IconoAlerta{
    font-size: 75px;
    position: relative;
    top: 80px;
    color: #C02B2D;
}
#Etiquetanovalida h1{
    font-weight: 400;
}
#Etiquetanovalida{
    position: relative;
    top: 140px;
    font-family: 'Raleway'
    
}

.boton-Aceptar0{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 15px 70px;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    margin: 32px;
    background-color: #616262;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: none;
    outline: none;
    top: 160px;
}